.menu__btn {
  color: var(--level-a-foreground-1);
  text-decoration: none;
  transition: 200ms ease-in-out transform, 200ms ease-in-out text-shadow, 200ms ease-in-out background;

  &--active {
    background: #ffffff26;
  }
}
