@use "sass:math";

@import "/src/styles/app-consts.scss";
@import "/src/styles/shared/menu-shared.scss";

@mixin text-transition {
  transition: 0.25s ease-out font, 0.1s ease-out color;
}

.logo {
  @include text-transition;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.menu__btn {
  margin: 0 0.125rem;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;

  &--active {
    background: #ffffff26;
  }

  &__icon {
    font-size: 1.8rem;
  }

  &__label {
    font-size: 1.2rem;
    opacity: 1;
  }

  &__icon,
  &__label {
    @include text-transition;
  }
}

.header {
  height: $header-height;
  padding: 0 1rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  color: var(--level-a-foreground-1);
  background: linear-gradient(to right, var(--accent-primary-1), var(--accent-secondary-1));
  transition: 0.2s ease-out height;

  &__section {
    display: flex;
    align-items: center;
    &--last {
      flex: 1 1 0;
      justify-content: flex-end;
    }
  }

  &--narrow {
    display: none;
  }

  &--small {
    height: math.div($header-height, 2);

    .logo {
      font-size: 1rem;
    }

    .menu__btn {
      &__icon {
        font-size: 1.8rem;
      }

      &__label {
        font-size: 0;
        opacity: 0;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .menu__btn {
    &__icon {
      font-size: 2rem;
    }

    &__label {
      font-size: 0;
      opacity: 0;
    }
  }
}

@media screen and (max-width: 620px) {
  .header {
    &--wide {
      display: none;
    }

    &--narrow {
      display: flex;
    }
  }
}
