<div class="header box-shadow--2" [class.header--small]="headerSmall$ | async">
  <div class="header__section">
    <img class="logo" src="assets\images\something-logo-light.svg">
  </div>
  <div class="header__section header--narrow">
    <button class="menu__btn btn btn--glass border-radius--1 text-shadow--1" (click)="onSidebarMenuOpen()">
      <i class="menu__btn__icon fas fa-bars"></i>
      <span class="menu__btn__label">Menu</span>
    </button>
  </div>
  <div class="header__section header--wide">
    <a *ngFor="let menuItem of menuService.menuItems" class="menu__btn btn btn--glass border-radius--1 text-shadow--1"
      [class.menu__btn--active]="(menuService.menuActiveRoute$ | async) === menuItem.routerLink" [routerLink]="menuItem.routerLink">
      <i class="menu__btn__icon" [class]="menuItem.icon"></i>
      <span class="menu__btn__label">{{menuItem.label | titlecase}}</span>
    </a>
  </div>
  <div class="header__section header__section--last">
    <button class="menu__btn btn btn--glass border-radius--1 text-shadow--1"
      pTooltip="Notifications" tooltipPosition="bottom" (click)="onSidebarNotificationOpen()">
      <i class="menu__btn__icon fas fa-bell" pBadge severity="danger"
        *ngIf="notificationsService.notifications.length as notificationCount; else noNotifications" value="{{notificationCount}}"></i>
      <ng-template #noNotifications>
        <i class="menu__btn__icon fas fa-bell"></i>
      </ng-template>
    </button>
    <button class="menu__btn btn btn--glass border-radius--1 text-shadow--1" (click)="onSidebarSettingsOpen()">
      <i class="menu__btn__icon fas fa-cog"></i>
    </button>
  </div>
</div>
