<p>Check out how SOMETHING handles incoming notifications</p>
<div class="grid">
  <div class="col-12">
    <button pButton type="button" label="One low level notification, please" icon="fas fa-info-circle"
      (click)="onAddLowLevelNotification()"></button>
  </div>
  <div class="col-12">
    <button pButton type="button" label="It's getting serious, give me high level notification" icon="fas fa-exclamation-circle"
      (click)="onAddHighLevelNotification()"></button>
  </div>
  <div class="col-12">
    <button pButton type="button" label="Make it looooong" icon="fas fa-ruler-vertical"
      (click)="onAddLongNotification()"></button>
  </div>
  <div class="col-12">
    <button pButton type="button" label="Surprise me!" icon="fas fa-cloud-showers-heavy"
      (click)="onAddMultipleNotifications()"></button>
  </div>
</div>
