@import "/src/styles/app-consts.scss";

.welcome-container {
  min-height: calc(100vh - #{$header-height} - 4rem);
  padding: 4rem 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  .logo {
    width: 12rem;
  }

  .welcome-text {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .primary-text {
      font-size: 3rem;
      font-weight: bold;
    }

    .secondary-text {
      font-size: 2rem;
    }
  }
}
