// main
body {
  margin: 0;
  min-height: 100vh;
  color: var(--level-a-foreground-1);
  background: linear-gradient(to right, var(--accent-primary-2), var(--accent-secondary-2));
  font-family: "Montserrat";
  font-size: 14px;
}

// elements
.btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &--glass {
    transition: 150ms ease-in-out background;

    &:hover {
      background: #ffffff1a;
    }
  }
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tile {
  background: var(--level-b-background-1);
  color: var(--level-b-foreground-1);

  .tile-content {
    margin: 1rem;
  }
}

// decorations
@for $level from 1 through 3 {
  .box-shadow--#{$level} {
    box-shadow: #00000026 0px $level * 3px $level * 3px 0px;
  }

  .border-radius--#{$level} {
    border-radius: $level * 4px;
  }

  .text-shadow--#{$level} {
    text-shadow: 1px 1px 2px var(--accent-color-text-shadow);
  }
}

// webkit
::-webkit-scrollbar {
  width: 10px;

  &-track {
    background: var(--accent-secondary-2);
  }

  &-thumb {
    width: 8px;
    background: var(--accent-secondary-1);

    &:hover {
      background: var(--accent-primary-1);
    }
  }
}
