<div class="mb-4">
  <span>Thank you for playing with this app! Stay tuned for more
    as there's a lot more to do to make this app even better, e.g.:</span>
  <ul>
    <li>cool animations</li>
    <li>new features to play with</li>
    <li>tests</li>
    <li>many more</li>
  </ul>
  <span>If you want to know more about this app, visit the <b>FAQ</b> for more information.</span>
</div>
<button pButton type="button" label="Show FAQ" icon="fas fa-arrow-right"
  routerLink="/questions" routerLinkActive="router-link-active"></button>
