<h1>Explore the features</h1>
<div class="tile-container">
  <div class="tile box-shadow--2 border-radius--1">
    <div class="tile-content">
      <h3>First things first</h3>
      <app-tile-settings></app-tile-settings>
    </div>
  </div>
  <div class="tile box-shadow--2 border-radius--1">
    <div class="tile-content">
      <h3>{{APP_NAME}} stays alert</h3>
      <app-tile-notifications></app-tile-notifications>
    </div>
  </div>
  <div class="tile box-shadow--2 border-radius--1">
    <div class="tile-content">
      <h3>{{APP_NAME}} scales to your needs</h3>
      <app-tile-layout-responsiveness></app-tile-layout-responsiveness>
    </div>
  </div>
  <div class="tile box-shadow--2 border-radius--1">
    <div class="tile-content">
      <h3>There's more to come</h3>
      <app-tile-more-features></app-tile-more-features>
    </div>
  </div>
</div>
