@import "/src/styles/app-consts.scss";

.main-container {
  max-width: $app-max-width;
  margin: 0 auto;
  padding: ($header-height + 2rem) 2rem 2rem 2rem;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  animation: smoothFadeIn 0.5s ease-out;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.content-container {
  flex: 1 1 100%;
}

footer {
  margin-top: 2rem;
}

@keyframes smoothFadeIn {
  0%,
  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
